/**
 * skarol theme for reveal.js.
 * Author: Karolina Samorek
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

$accentDefault: #AA49D8;
$accentHighlighted: #BE7FDD;

$backgroundPrimaryLight: #F5F5F5;
$backgroundSecondaryLight: #E9E9E9;

$textPrimaryLight: #848484;
$textSecondaryLight: #484848;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Poppins', sans-serif;
$headingFont: 'Poppins', sans-serif;

$headingTextShadow: none;
$headingTextTransform: none;

$mainColor: $textSecondaryLight;
$headingColor: $textPrimaryLight; 
$backgroundColor: $backgroundPrimaryLight;

$linkColor: $accentHighlighted;
$linkColorHover: $mainColor;
$selectionBackgroundColor: $accentDefault;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
